{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About IRLVibes</h1>
            <p class="lead fw-normal text-white-50 mb-0">A Thrift Store that sells secondhand and vintage clothing and accessories.</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    IRLVibes is a thrift store that sells secondhand and vintage clothing and accessories.<br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at nunc venenatis, porttitor elit eu, volutpat magna. Phasellus leo lorem, luctus et suscipit vitae, rutrum non enim. Phasellus a metus vitae justo aliquet euismod. Sed efficitur lorem eu cursus tincidunt. Integer ligula urna, elementum sed lectus a, consectetur tempor nisl. Vestibulum sit amet nunc nunc. Aliquam ex lacus, bibendum quis pretium ac, iaculis eu dui. Suspendisse sed egestas orci. Fusce metus sem, consequat sit amet iaculis vel, efficitur id urna. Nulla tincidunt augue lobortis justo finibus rhoncus. Vestibulum at egestas enim.<br/><br/>
                    Vestibulum pretium condimentum magna in imperdiet. Pellentesque ultricies condimentum tellus ut posuere. Morbi consequat sapien sed ex scelerisque molestie. Duis posuere eget lacus consequat egestas. Morbi nibh ligula, porta eu tellus vitae, ullamcorper malesuada ex. Nunc nulla dolor, vestibulum id tempor in, malesuada et mauris. Aliquam pellentesque, arcu eu feugiat sagittis, nisl velit condimentum sem, sit amet convallis erat nisl a lorem. Aenean arcu justo, gravida sed nulla in, venenatis consequat lectus. Proin eu est quis quam pulvinar luctus. Vivamus mattis semper gravida. Nam id nulla porttitor, dignissim quam id, eleifend nisi. Donec vel suscipit velit. In tortor mauris, dignissim sit amet orci nec, pharetra mollis nunc. Curabitur elementum purus efficitur eros facilisis elementum. Duis ac tincidunt nulla.<br/><br/>
                    Mauris vel felis ligula. Nunc et lacus quis odio iaculis dignissim nec at risus. Integer sit amet justo luctus, tempor ligula sed, interdum ante. Suspendisse vitae velit iaculis, tempus purus quis, aliquam nibh. Nullam quam mi, egestas id nibh nec, mollis molestie odio. Nunc vestibulum laoreet ex iaculis volutpat. Curabitur cursus elit non nisl tincidunt commodo. Aliquam blandit tincidunt congue. Mauris at commodo felis. Nam ante dolor, commodo vel sapien congue, rhoncus pretium quam. Aenean sollicitudin tellus convallis elit suscipit, et viverra odio iaculis. Nam venenatis mattis odio vehicula congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam malesuada massa in nibh semper, vel mollis mi facilisis.<br/><br/>
                </p>
            </div>
        </center>
        
    </div>
    
</div>
{% endblock %}